<%- include('../partials/header.ejs'); %>
<link rel="stylesheet" href="/styles/order.css">

<div id="main">

</div>

<%- include('../partials/rootClose.ejs'); %>

<%- include('../partials/scripts.ejs'); %>

<script type="module" src="/scripts/controllers/order.js"></script>

<%- include('../partials/footer.ejs'); %>