#navbar {
  background: none;
  background-color: rgba(0, 0, 0, 0);
}

#main {
  background-color: rgba(0, 0, 0, 0);
}

#header {
  position: static;
}

#authentication_background {
  display: flex;
}

#login_navigation_btn {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(-50%, -50%);
  padding: 4px;
  background-color: #ee4541;
  border-radius: 5px;
}

#login_navigation_btn i {
  color: white;
}
