#navbar {
  background: none;
  background-color: rgba(0, 0, 0, 0);
}

#root {
  /* background-image: url(https://www.e-food.gr/cdn-cgi/image/w=360,h=440,f=auto,q=100/site-assets/img/bg/hero/home/Desktop/EF-afternoon-red.jpg); */
  background-image: url(/back.png);
  position: relative;
  background-size: auto;
  background-position: 50%;
  background-repeat: no-repeat;
}

#main {
  background-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #EE4541;
}

#header {
  position: static;
}

#authentication_background {
  display: flex;
}

#login_navigation_btn {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(-50%, -50%);
  padding: 4px;
  background-color: #ee4541;
  border-radius: 5px;
}

#login_navigation_btn i {
  color: white;
}
